.assignment-page {

    min-height: 100vh;
    background: #EAECF0;
    padding: 40px;

}


.assignment-page h1 {

    text-align: center;
    color: #233D4D;
    font-size: 36px;
    margin-bottom: 10px;

}


.assignment-subtitle {

    text-align: center;
    color: #555;
    margin-bottom: 35px;

}


.assignment-card {

    background: white;

    max-width: 600px;

    margin: auto;

    padding: 35px;

    border-radius: 16px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);

}


.assignment-card h2 {

    color: #233D4D;

    margin-bottom: 25px;

}


.assignment-item {

    border: 1px solid #d1d5db;

    border-radius: 12px;

    padding: 20px;

}


.assignment-item select {

    width: 100%;

    padding: 12px;

    margin-top: 15px;

    border-radius: 8px;

    border: 1px solid #233D4D;

}


.assignment-item button {

    width: 100%;

    margin-top: 15px;

    padding: 12px;

    background: #FE7F2D;

    color: white;

    border: none;

    border-radius: 8px;

    cursor: pointer;

}


.assignment-item button:hover {

    opacity: 0.9;

}